body {
    display:block;  
    margin: 0;
    color: #4a4a4a;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: normal;
}

ul {
    list-style: none;
    z-index: 100;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .25rem;
    min-height: 2rem;
} 