.heading-group {
    background: #4a4a4a;
    padding: 1rem;
    color: #d8d8d8;
}
.heading-group h1 {
    font-weight: lighter;
}
.body-container {
    background: #d8d8d8;
    padding: 1rem;
}
.section-title {
    text-decoration: underline;
    color: #4a4a4a;
    font-weight: normal;
}

.book {
    border-radius: 1rem 1rem 0 0;
    background: #9b9b9b;
    margin-bottom: 4rem;
}
.book-info {
    background: #4a4a4a;
    padding: 1rem;
    position: relative;
}

.title {
    color: #d8d8d8;
    font-weight: normal;
    font-size: 2rem;
}
.author {
    color: #d8d8d8;
    font-weight: normal;
    font-size: 1.5rem;
    font-style: italic;
}
.image-holder {
    max-height: 350px;
    overflow: hidden;
}
img.book-image {
    width: 100%;
    margin-bottom: 2rem;
    min-height: 2rem;
}
#footer {
    background: #9b9b9b;
    padding: 2rem 1rem 6rem;
    text-align: right;
    color: #4a4a4a;
    font-size: 3rem;
}
[class^="icon-"] {
    padding: 0 1rem 0 0;
}

#error-message {
    color:red;
}

.icon-menu {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 3rem;
    margin: 1rem;
  }
  .main-nav:hover ul{
    /* display: block; */
  }
  .main-nav ul {
    display: none;
    padding: 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.90);
    margin: 0;
    padding: 1rem;
  }
   .main-nav ul li {

   }
  .main-nav ul li a {
    text-decoration: none;
    color: #fff;
  }


  /* modules book-description */
  .book-title {text-decoration: underline; margin: 0; font-weight: normal;font-size: 1.5rem;}
  .book-author {font-style: italic;display: inline-block; float: left;}
  .book-isbn {font-style: italic;display: inline-block; float: right;}
  .book-image {width: 100%;}
  .book-description {
    line-height: 2rem;
  }
  .book-view-details {
    border-radius: .5rem;
    padding: 1rem 3rem;
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    bottom: 1rem;
  }
  .submit-holder {
      text-align: right;
  }
  .book-submit {
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background: #4a4a4a;
    border-radius: .5rem;
  }

#new-book-form {
    margin-top: 2rem;
}